<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <span class="navbar-brand" href="#">Logo</span>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a  class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a routerLink='/addbook' class="nav-link">Add Book</a>
        </li>
        <li class="nav-item">
          <a routerLink='/viewbook' class="nav-link" >View Books</a>
        </li>
      </ul>
     
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>